<script type='text/javascript'>
  <% if logged_in? %>
    window.currentUser =
      <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
  <% end %>

  window.images = {
    flowers: "<%= image_url('become_a_host') %>"
  }

  window.spotConstants = {};

  window.spotConstants.states = <%= raw State.get_array %>
  window.spotConstants.privacyLevels = <%= raw PrivacyLevel.get_array %>
</script>


<main id='root'>
  bananas
</main>
