<script type='text/javascript'>

  <% if logged_in? %>
    window.currentUser =
      <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
  <% end %>

  window.images = {
    flowers: "<%= image_url('become_a_host') %>"
  }

  window.spotConstants = {};

  window.spotConstants.states = <%= (State.get_json_hash).html_safe %>
  window.spotConstants.privacyLevels = <%= (PrivacyLevel.get_json_hash).html_safe %>
</script>


<main id='root'>
  bananas
</main>
