<script type='text/javascript'>
  <% if logged_in? %>
    window.currentUser =
      <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
  <% end %>

  window.images = {
    flowers: "<%= image_url('become_a_host') %>"
  }



</script>

<script type='text/javascript'>
  window.states = "<%= State.statesArray.to_json %>";
</script>

<main id='root'>
  bananas
</main>
