.spot-search-bar-main-container {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 95%;
  margin: 70px auto;
  box-shadow: 1px 1px #ccc;
}

.spot-search-bar-form {
  display: flex;
  width: 100%;
}

.spot-search-bar-form > div {
  border-right: 1px solid #ccc;
  padding: 8px 20px;
}

.spot-search-bar-form > div:last-child {
  border-right: none;
}

.spot-search-bar-main-container input {
  height: 30px;
  width: 100%;
  font-size: 19px;
  padding-top: 17px;
}

.spot-search-bar-main-container label {
  width: 100%;
  font-size: 15px;
}

.spot-search-bar-calendar {
  margin: 0 auto;
  width: 100%;
}

.spot-search-bar-left {
  width: 42.25%;
}

.spot-search-bar-middle {
  width: 42.25%;
  height: 90px;
}

.spot-search-bar-anywhere-input {
  cursor: pointer;
}

.spot-search-bar-right {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
}

.spot-search-bar-calendar .DateInput {
  width: 40%;
  line-height: 11px;
}

.DateRangePicker {
  display: block;
}

.spot-search-bar-calendar .DateRangePickerInput {
  display: block;
  border: none;
}

.spot-search-bar-calendar .DateInput__display-text {
  font-size: 18px;
  padding: 12px 10px;
}

.spot-search-bar-calendar .DateInput__display-text--focused {
  padding: 12px 10px;
}

.spot-search-bar-search-button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  letter-spacing: 1.2px;
  font-size: 15px;
  background-color: #ff5a5f;
  color: white;
  padding: 15px 27px;
}


// NAV SEARCH BAR

.main-nav-center .DateInput__display-text {
  padding: 5px 10px;
}

.main-nav-center .spot-search-bar-form > div {
  padding: 3px 20px;
}

.main-nav-center .spot-search-bar-main-container {
  margin: 3px auto;
  width: 100%;
}

.main-nav-center .DateInput {
  width: 43%;
}

.main-nav-center label {
  display: none;
}

.main-nav-center .spot-search-bar-search-button {
  display: none;
}

.main-nav-center .spot-search-bar-main-container input {
  padding: 0;
  padding-top: 4px;
}

.main-nav-center .spot-search-bar-left {
  width: 50%;
}

.main-nav-center .spot-search-bar-middle {
  width: 50%;
  height: 43px;
}

.main-nav-center .spot-search-bar-right {
  display: none;
}
