.spot-search-main-container {
  display: flex;
}

.spot-search-left {
  width: 60%;
}

.spot-search-right {
  width: 40%;
}

// SPOT SEARCH FILTER

.spot-search-filter {
  display: flex;
  justify-content: flex-start;
}

.spot-search-filter-dropdown {
  cursor: pointer;
  margin: 0 15px;
  padding: 15px 0;
  color: #767676;
}


// SEARCH RESULTS LIST

.spot-search-results-list-container {
}


// NO RESULTS

.spot-search-no-results-container {
  margin-left: 60px;
}

.spot-search-no-results-container h1 {
  font-weight: 700;
  font-size: 36px;
  color: #818181;
  margin: 25px 0;
}

.spot-search-no-results-container ul {
  list-style: disc;
  padding-left: 31px;
  margin: 24px 0;
}

.spot-search-no-results-container li {
  color: #494949;
  margin: 11px 0;
  font-weight: 300;
  font-size: 19px;
}

.spot-search-no-results-container span {
  color: #494949;
  font-weight: 300;
  font-size: 19px;
}

.spot-search-no-results-fine-text {
  margin-top: 125px;
  margin-left: 30px;
}

.spot-search-no-results-fine-text span {
  color: #818181;
  font-size: 15px;
}






// SPOT MINI

.spot-mini-main-container {
  width: 50%;
  float: left;
  padding: 10px;
}

.spot-mini-link {
  text-decoration: none;
}

.spot-mini-main-container img {
  width: 100%;
  height: 250px;
}

.spot-mini-price-and-title {
  overflow: hidden;
  margin: 6.5px 0;
}

.spot-mini-price-and-title span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
}

.spot-mini-privacylevel-and-numbeds {
}

.spot-mini-privacylevel-and-numbeds span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
}
