.spot-search-main-container {
  display: flex;
  border: 2px solid blue;
}

.spot-search-left {
  width: 50%;
  border: 1px solid yellow;
  height: 300px;
}

.spot-search-right {
  width: 50%;
  border: 1px solid orange;
  height: 300px;
}
