.welcome-splash {

}

.welcome-where-to {
  color: #FF5A5F;
  font-weight: 700;
  font-size: 48px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.welcome-start-adventure {

}
