.welcome-splash {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  text-align: center;
  margin-top: 50px;
}

.welcome-where-to {
  color: #FF5A5F;
  font-weight: 700;
  font-size: 48px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.welcome-start-adventure {
  color: #4c4c4c;
  font-weight: 200;
  font-size: 48px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}
