.become-a-host-main-container {
  align-items: center;
}

.become-a-host-errors {
  width: 100%;
  background-color: #FFD1C4;
  border-top: 1px solid black;
  min-height: 62px;
  display: flex;
  justify-content: center;
}

.become-a-host-errors .error-icon {
  display: flex;
  align-items: center;
}

.become-a-host-errors ul {
  margin: 10px 10px;
}

.become-a-host-errors li {
  text-align: left;
  margin: 10px;
}

.become-a-host-errors i {
  margin: 10px;
  font-size: 30px;
  color: #e4a593;
}

.become-a-host-panels {
  display: flex;
  margin: 0 auto;
  max-width: 1310px;
  width: 100%;
  height: 700px;
}

.become-a-host-left-panel {
  width: 50%;
  padding: 15px;
}

.become-a-host-left-panel-contents {
  padding: 10px;
}

.become-a-host-right-panel {
  width: 50%;
  margin-top: 50px;
  background-color: #fafafa;
}

.become-a-host-right-panel img {
  width: 100%;
  display: block;
  max-width: 534px;
  background-color: white;
}

.spot-form-main-container {
  margin-top: 30px;
}


.become-a-host-main-container h1 {
  margin: 32px 0;
  font-size: 32px;
  color: #484848;
}

.become-a-host-main-container h2 {
  font-size: 24px;
  margin: 10px 0;
}

.become-a-host-main-container h4 {
  font-size: 12px;
  font-weight: 500;
  color: #BBBBBB;
}

.spot-form-info-box {
  height: 129px;
  width: 60%;
  border-radius: 4px;
  padding: 20px;
  background-color: #E5FAF9;
  border: 1px solid #B2F1EC;
}

// #spot-form-basics-main-container .location-predictions {
//   border: 2px solid blue;
// }
//
// #spot-form-basics-main-container .location-prediction-div {
//   border: 1px solid green;
//   height: 20px;
//   width: 100px;
// }

.become-a-host-main-container .spot-form-fields {

}

.become-a-host-main-container input,
.become-a-host-main-container select,
.become-a-host-main-container textarea, {
  margin: 7px 2px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  font-size: 14px;
  padding: 4px 7px;
  letter-spacing: 1.2px;
  color: #797979;
}

.become-a-host-main-container input {
  height: 25px;
}

.become-a-host-main-container select {
  color: #797979;
  height: 35px;
}

.become-a-host-main-container textarea {
  height: 100px;
  width: 95%;
}

.become-a-host-main-container .half-width-field {
  width: 48%;
}

.become-a-host-main-container .full-width-field {
  width: 95%;
  height: 35px;
  padding: 0 7px;
}

.become-a-host-main-container button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  letter-spacing: 1.2px;
  font-size: 15px;
}

.become-a-host-main-container .continue-button {
  background-color: #00A699;
  color: white;
  padding: 12px 23px;
}

.number-toggle-div {
  border: 1px solid #aaaaaa;
  display: flex;
  width: 60%;
  margin: 14px 0;
}

.num-display {
  width: 60%;
  padding: 18px 15px;
}

button.increment-button {
  width: 17%;
  padding: 12px 23px;
  border: 1px solid #dce0e0;
  margin: 5px 0;
}

button.spot-form-back-button {
  float: left;
  color: #767676;
  padding: 15px;
}

button.spot-form-next-button {
  background-color: #ff5a5f;
  float: right;
  color: white;
  padding: 15px 75px;
}

button.spot-form-next-button:hover {
  background-color: #ff7e82;
}

.nav-buttons-div {
  border-top: 1px solid #ebebeb;
  padding: 25px 0;
  margin: 25px 0;
}

.spot-form-availability-main-container .nav-buttons-div {
  margin-top: 350px;
}

.spot-form-tip-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 26px;
  width: 80%;
  position: absolute;
  top: 100px;
  left: 10px;
  max-width: 554px;
}

.become-a-host-right-panel-contents {
  position: relative;
}

.flowers-image-container {
  background-color: white;
  width: 100%;
}

.spot-form-tip {

}

.spot-form-tip h4 {
  color: #2d2d2d;
  font-size: 14px;
  line-height: 150%;
  padding: 10px 0px;
  font-weight: 400;
}

.spot-form-tip p {
  color: #767676;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 150%;
}

i.fa-lightbulb-o {
  color: #40bdb6;
  font-size: 38px;
}

#spot-form-details-form img {
  width: 80%;
}
