.become-a-host-main-container {
  margin-top: 25px;
}

.become-a-host-errors {
  width: 100%;
  background-color: #FFD1C4;
  border-top: 1px solid black;
  min-height: 62px;
}

.become-a-host-panels {
  display: flex;
  margin: 0 auto;
  max-width: 1310px;
  width: 100%;
  height: 500px;
  border: 3px solid blue;
}

.become-a-host-left-panel {
  width: 65%;
  border: 2px solid yellow;
  padding: 15px;
}

.become-a-host-left-panel-contents {
  padding: 10px;
}

.become-a-host-right-panel {
  width: 35%;
  border: 2px solid green;
  padding: 15px;
}

.become-a-host-right-panel img {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 534px;
}

.spot-form-main-container {
  margin-top: 30px;
}


.become-a-host-main-container h1 {
  margin: 32px 0;
  font-size: 25px;
}

.become-a-host-main-container h2 {
  font-size: 20px;
  margin: 10px 0;
}

.become-a-host-main-container h4 {
  font-size: 12px;
  font-weight: 500;
  color: #BBBBBB;
}

.spot-form-info-box {
  height: 129px;
  width: 60%;
  border-radius: 4px;
  padding: 20px;
  background-color: #E5FAF9;
  border: 1px solid #B2F1EC;
}

#spot-form-basics-main-container .location-predictions {
  border: 2px solid blue;
}

#spot-form-basics-main-container .location-prediction-div {
  border: 1px solid green;
  height: 20px;
  width: 100px;
}

.become-a-host-main-container .spot-form-fields {
  font-size: 14px;
}

.become-a-host-main-container .small-field {
  width: 47%;
  border-radius: 0;
  height: 35px;
  margin: 7px 0;
}

.become-a-host-main-container .full-field {
  width: 95%;
  border-radius: 0;
  height: 35px;
  margin: 7px 0;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 0 7px;
}

.become-a-host-main-container button {
  padding: 10px 15px;
  border-radius: 5px;
}

.become-a-host-main-container .continue-button {
  background-color: #00A699;
  color: white;
  letter-spacing: 1.2px
}
