.become-a-host-main-container {
  display: flex;
  margin: 0 auto;
  max-width: 1310px;
  width: 90%;
  height: 500px;
  border: 2px solid blue;
}

.left-panel {
  width: 50%;
  border: 1px solid green;
}

.right-panel {
  width: 50%;
  border: 1px solid orange;
}
