.become-a-host-panels {
  display: flex;
  margin: 0 auto;
  max-width: 1310px;
  width: 100%;
  height: 500px;
  border: 3px solid blue;
}

.become-a-host-left-panel {
  width: 50%;
  border: 2px solid yellow;
  padding: 15px;
}

.become-a-host-right-panel {
  width: 50%;
  border: 2px solid orange;
  padding: 15px;
}

.become-a-host-right-panel img {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 534px;
}
