#spot-form-basics-main-container {
  margin-top: 30px;
}

#spot_privacy_level {
  display: inline-block;
  background-color: green;
}

#spot_num_guests {
  display: inline-block;
  background-color: lightyellow;
}

#spot_state {
  display: block;
  background-color: purple;
}

#spot-form-basics-main-container h1 {
  font-size: 25px;
}

#spot-form-basics-main-container h2 {
  font-size: 20px;
}

#spot-form-basics-main-container h4 {
  font-size: 12px;
  font-weight: 500;
  color: #BBBBBB;
}

.spot-form-info-box {
  height: 129px;
  width: 60%;
  border-radius: 4px;
  padding: 20px;
  background-color: #E5FAF9;
  border: 1px solid #B2F1EC;
}

#spot-form-basics-main-container .location-predictions {
  border: 2px solid blue;
}

#spot-form-basics-main-container .location-prediction-div {
  border: 1px solid green;
  height: 20px;
  width: 100px;
}
