// MAIN IMAGE

.spot-profile-img-container {
  position: relative;
  overflow: hidden;
  max-height: 552px;
  display: flex;
  align-items: center;
}

.spot-profile-main-img {
  width: 100%;
}

.spot-profile-photo-overlay {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.spot-profile-view-photos-button {
  background-color: #ffffff;
  padding: 11px 25px;
  border-radius: 10%;
  border: 1px solid #aaa;
  font-weight: 600;
  color: #484848;
  font-size: 13.5px;
}

// NAV

.spot-profile-nav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.spot-profile-nav-tab {
  cursor: pointer;
  height: 82px;
  width: 17%;
  text-align: center;
  padding: 10px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spot-profile-nav-tab span {
  color: inherit;
  height: 30px;
  font-size: 19px;
  font-weight: 300;
  margin-right: auto;
}
.selected-tab span {
  border-bottom: 2px solid #008489;
}

.selected-tab {
  color: #008489;
}


// MAIN SECTION

.spot-profile-overview-and-sidebar {
  display: flex;
  width: 1048px;
  margin: 0 auto;
}



// OVERVIEW

.spot-profile-overview {
  width: 70%;
  padding-left: 20px;
}

// OVERVIEW HEADING

.spot-profile-overview-heading {
  // border: 1px solid #f704a3;
  display: flex;
  justify-content: space-between;
}

.spot-profile-overview-heading-left {
  // border: 1px solid #4d2518;
}

.spot-profile-overview-heading-right {
  // border: 1px solid #adfbf2;
  width: 15%;
  padding: 0 20px;
}

.spot-profile-overview-heading-right img {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.spot-profile-privacylevel-city-and-reviews {
  // border: 1px solid #bc99f7;
  font-weight: 300;
  font-size: 18px;
  margin: 15px 0;
}

.spot-profile-host-name {
  // border: 1px solid #f06161;
  word-wrap: break-word;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.spot-profile-overview-heading-left h1 {
  font-size: 36px;
  font-weight: 700;
  color: #484848;
}

// OVERVIEW ICONS

.spot-profile-overview-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  margin: 25px 33px;
}

.spot-profile-overview-icon-div .fa {
  font-size: 30px;
  padding: 10px;
  font-color: red;
  color: white;
  text-shadow: yellowgreen;
  shadow: black;
  text-shadow: 1px 1px 1px black;
}


.spot-profile-overview-icon-div {
  width: 16%;
  // border: 1px solid #f06161; //random
  text-align: center;
}

.spot-profile-overview-icon-div div {
  font-weight: 300;
}

// OVERVIEW SUMMARY

.spot-profile-overview-summary {
  // border: 1px solid #134274;
}

.spot-profile-overview-summary h3 {
  font-size: 22px;
  margin: 10px 0;
  font-weight: 400;
  padding: 5px 10px;
}

.spot-profile-overview-summary div {
}

.spot-profile-overview-summary p {
  font-size: 17px;
  padding: 5px 10px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
}

// OVERVIEW SECTION

.spot-profile-overview-sections {
  margin: 25px 0px;
  padding: 25px;
  border-top: 1px solid #ccc;
}

.spot-profile-overview-section {
  display: flex;
}

.spot-profile-overview-section-left {
  width: 20%;
  padding: 20px 0;
}

.spot-profile-overview-section-left span {
  color: #484848;
  font-weight: 400;
  font-size: 17px;
}

.spot-profile-overview-section-right {
  width: 80%;
  border-top: 1px solid #ccc;
  padding: 18px 0;
}

.spot-profile-overview-section-right:last-child {
  border-top: none;
}




// OVERVIEW SECTION: The Space

.spot-profile-overview-thespace {

}
.spot-profile-overview-thespace span {
  font-size: 17px;
  letter-spacing: 0.2px;
  font-weight: 300;
}


.spot-profile-overview-thespace-row {
  padding: 20px 5px;
  display: flex;
  margin: 5px;
}

.spot-profile-overview-thespace-row:first-child {
  padding-top: 0;
  padding-bottom: 0;
}

.spot-profile-overview-thespace-item {
  width: 50%;
  font-weight: normal;
  letter-spacing: 1.2px;
}

.spot-profile-overview-thespace-item span:last-child {
  font-weight: 500;
}



// OVERVIEW SECTION: Description

.spot-profile-overview-description p {
  font-size: 17px;
  padding: 5px 10px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
}





// SIDEBAR

.spot-profile-sidebar {
  width: 30%;
  position: relative;
  top: -53px;
}

.spot-profile-price-overlay {
  background-color: rgba(0,0,0,0.7);
  height: 50px;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  padding: 14px;
}

.spot-profile-sidebar-form {
  padding: 12px;
  border: 1px solid #dce0e0;
}

.spot-profile-sidebar-form label {
  width: 50%;
  padding: 15px 0;
  font-size: 15px;
}

.spot-profile-text {
  display: flex;
  align-items: flex-end;
}

.spot-profile-price-overlay span {
  color: white;
  padding: 2px;
  font-weight: normal;
  font-size: 14px;
}

span.spot-profile-price {
  font-size: 18px;
}

.spot-profile-calendar-labels {

}

.spot-profile-booking-calendar {
  margin: 0 auto;
  width: 100%;
}


.spot-profile-guests-select-div {
  width: 100%;
}

.spot-profile-guests-select {
  width: 100%;
  margin: 5px 0;
}

.spot-profile-request-to-book-button-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spot-profile-request-to-book-button {
  background-color: #ff5a5f;
  padding: 15px;
  border-radius: 5px;
  color: white;
  letter-spacing: 1.2px;
  font-size: 16px;
  width: 98%;
  margin: 10px 0;
  cursor: pointer;
}

.spot-profile-request-to-book-button-div span {
  font-size: 11px;
  color: #767676;
}

.spot-profile-guests-select {
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  font-size: 14px;
  letter-spacing: 1.2px;
  color: #797979;
  height: 45px;
  cursor: pointer;
}
