

.main-nav div {
  border: 1px solid green;
}


// NAV BAR

.main-nav {
  background-color: antiquewhite;
  width: 100%;
  height: 64px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

// MAIN NAV LEFT

.main-nav-left {
  border: 3px solid blue !important;
  width: 50%;
  display: flex;
  padding: 2px;
  flex-direction: flex-start;
}

.main-nav-airbnb-logo {
  margin: 5px 2px 5px 20px;
}

.airbnb-logo {
  fill: currentColor;
  height: 1em;
  color: #FF5A5F !important;
  font-size: 34px !important;
}

// MAIN NAV RIGHT

.main-nav-right {
  border: 4px solid blue !important;
  width: 50%;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
}

.main-nav-links {
  display: flex;
  justify-content: space-between;
  width: 478px;
}

.main-nav-links a {
  font-weight: 400;
  font-family: "Helvetica Neue";
  text-align: center;
  flex-grow: 1;
  border: 1px solid orange;
  margin: 7px 0;
  padding: 10px 0;
  color: rgb(72, 72, 72);
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.main-nav-avatar {

}
