/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

 @import './components/calendar/CalendarDay';
 @import './components/calendar/CalendarMonth';
 @import './components/calendar/CalendarMonthGrid';
 @import './components/calendar/DayPicker';
 @import './components/calendar/DayPickerNavigation';
 @import './components/calendar/DayPickerKeyboardShortcuts';
 @import './components/calendar/DateInput';
 @import './components/calendar/DateRangePicker';
 @import './components/calendar/DateRangePickerInput';
 @import './components/calendar/SingleDatePicker';
 @import './components/calendar/SingleDatePickerInput';

 .clearfix:after {
   content: '';
   display: block;
   clear: both;
 }

 @import './base/reset.scss';
 @import './base/app.scss';
 @import './base/nav.scss';
 @import './base/dropdown.scss';
 @import './base/homepage_section_nav.scss';
 @import './base/carousel.scss';

 @import './api/sessions.scss';
 @import './api/users.scss';

 @import './components/session/session_form.scss';

 @import './components/spots/become_a_host.scss';
 @import './components/spots/spot_profile.scss';

 @import './components/search/spot_search_page.scss';
 @import './components/search/search_bar.scss';
 @import './components/search/search_map.scss';

 @import './components/bookings/trips.scss';

 @import './components/bookings/host_page.scss';
 @import './components/bookings/reservations_page.scss';
